.friendList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex; /* Розташовуємо елементи в рядок */
    flex-wrap: wrap; /* Якщо місця не вистачає, елементи переходять на наступний рядок */
    gap: 20px; /* Проміжок між елементами */
    justify-content: center; /* Центруємо елементи по горизонталі */
    align-items: center; /* Центруємо елементи по вертикалі, якщо це необхідно */
  }
  
  
  